.small-spacer-top {
  margin-top: 20px;
}

.small-spacer-bottom {
  margin-bottom: 20px;
}

.medium-spacer-top {
  margin-top: 60px;
}

.medium-spacer-bottom {
  margin-bottom: 60px;
}

.text-justify {
  text-align: justify;
}

@media(max-width:767px) {
}
@media(min-width:768px){
}
@media(min-width:992px){
}
@media(min-width:1200px){
}
