html {
  margin: 0;
  padding: 0;
}

body {
  background-image: url('/img/bernal.jpg');
  color: #152915;
  font-family: 'Open Sans', sans-serif;
  margin: 1em 0 0 0;
  padding: 0;
  font-size: 16px;
}

.two-column {
  text-align: justify;
  -moz-column-count: 2;
  -moz-column-gap: 2em;
  -webkit-column-count: 2;
  -webkit-column-gap: 2em;
  column-count: 2;
  column-gap: 2em;
}

.quote small { float: right; }
.quote img {
  border-radius: 4px;
  box-shadow: 0 0 4px #a0a9a0;
}

.lead {
  font-size: 150%;
  font-weight: 200;
}

a {
  padding: 0;
  margin: 0;
  color: #0083ff;
}

header { width: 100%; }
header .logo { float: left; }
header nav {
  float: right;
  text-align: right;
}

.clear { clear: both; }

.extra-small { font-size: 60%; }

hr {
  color: rgb(200, 209, 200);
  background-color: rgb(200, 209, 200);
  border: 0;
  height: 1px;
  margin: 1em 0 1em 0;
}


#wrap {
  border-radius: 4px;
  box-shadow: 0 0 4px #a0a9a0;
  padding: 2em;
  background: rgb(248, 255, 248);
  background: rgba(248, 255, 248, 0.9);
  margin: 0 auto;
  margin-top: 0;
  width: 800px;
}

#content { margin-top: 4em; }

footer {
  width: 100%;
  text-align: center;
  margin-top: 5em;
}

.nav { list-style-type: none; }
.nav li { display: inline; }

.blog-post-container { float: left; }

.blog-archive-container { float: right; }
