<!DOCTYPE html>
<html xmlns='http://www.w3.org/1999/xhtml' xml:lang='en' lang='en-us'>
  <head>
    <meta http-equiv='content-type' content='text/html; charset=utf-8' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <meta name='author' content='Elbii' />
		<meta name='description' content='Faster, More Reliable, More Profitable Web Applications'>
		<meta name='keywords' content='elbii, elbii labs, ruby on rails, node.js, mongodb, backbone.js, javascript, coffeescript, css, web development'>
    <link rel='shortcut icon' href='http://elbii.com/favicon.ico' />

    <link rel='stylesheet' type='text/css' href='/css/bootstrap.min.css' />
    <link rel='stylesheet' type='text/css' href='/css/elbii.css' />
    <link rel='stylesheet' type='text/css' href='/css/syntax.css' />
  </head>
  <body>
    <div class='container'>
      <!-- Header -->
      <header>
        <div class='row small-spacer-top'>
          <div class='col-md-3'>
            <a href='/'><img src='/img/logo.png' class='img-responsive' alt='Ebii Logo'></a>
          </div>
          <div class='col-md-6 text-center'>
            <nav>
              <ul class='list-inline'>
                <li><a href='/services.html'>services</a></li>
                <li>|</li>
                <li><a href='/company.html'> company</a></li>
                <li>|</li>
                <li><a href='/jobs.html'> jobs</a></li>
                <li>|</li>
                <li><a href='/blog.html'>blog</a></li>
              </ul>
            </nav>
          </div>
          <div class='col-md-3'>+1 (650) 735 - 2448</div>
        </div>
      </header>

      <div id='content' class='medium-spacer-top'>
        {{ content }}
      </div>

      <footer class='medium-spacer-top'>
        <div class='well'>
          <div class='row'>
            <div class='col-md-2'>
              <h5>Social</h5>
              <ul class='list-unstyled'>
                <li><a href='https://facebook.com/elbiisf'>Facebook</a></li>
                <li><a href='https://twitter.com/elbiisf'>Twitter</a></li>
                <li><a href='https://plus.google.com/elbiisf'>Google+</a></li>
              </ul>
            </div>
            <div class='col-md-2'>
              <h5>Sitemap</h5>
              <ul class='list-unstyled'>
                <li><a href='/'>Home</a></li>
                <li><a href='/services.html'>Services</a></li>
                <li><a href='/company.html'>Company</a></li>
                <li><a href='/jobs.html'>Jobs</a></li>
                <li><a href='/blog.html'>Blog</a></li>
              </ul>
            </div>
            <div class='col-md-2'>
              <h5>Open Source</h5>
              <ul class='list-unstyled'>
                <li><a href='https://github.com/elbii/peruse'>Peruse</a></li>
                <li><a href='https://github.com/elbii/cerebellum'>Cerebellum</a></li>
                <li><a href='https://github.com/elbii/capistranode'>Capistranode</a></li>
                <li><a href='https://github.com/elbii/ruby-sdee'>Ruby SDEE</a></li>
              </ul>
            </div>
            <div class='col-md-2'>
              <h5>More Stuff</h5>
              <ul class='list-unstyled'>
              </ul>
            </div>
            <div class='col-md-4'>
              {% include newsletter_form.html %}
            </div>
          </div>
          <div class='row'>
            <div class='col-md-12 text-center'>© 2014 Elbii LLC</div>
          </div>
        </div>
      </footer>

    </div>

    <!-- JS -->
    <script type='text/javascript' src='/js/elbii.js'></script>
    <script type='text/javascript' src='/js/analytics.js'></script>
  </body>
</html>
