<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{{ page.title }}</title>
    <meta name="author" content="Elbii" />
    <link rel="shortcut icon" href="http://elbii.com/favicon.ico" />
    <link rel="stylesheet" href="/css/normalize.css" type="text/css" />
    <link rel="stylesheet" href="/css/syntax.css" type="text/css" />
    <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
<link href='http://fonts.googleapis.com/css?family=Source+Code+Pro:200,300,400,600,700,900|Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,700,600,800&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div id="wrap">
      <!-- Header -->
      <header>
        <a href="/"><img src="/img/logo.png" alt="Ebii Labs Logo" /></a>
        <nav>
          <ul class="nav">
            <li><a href="/">home</a></li>
            |
            <li><a href="/blog.html">blog</a></li>
            |
            <li><a href="/services.html">services</a></li>
            |
            <li><a href="/jobs.html">jobs</a></li>
          </ul>
          reach a human: <strong>(650) 735 - 2448</strong> | <strong>contact@elbii.com</strong>
        </nav>
        <div class="clear"></div>
      </header>

      <hr>

      <div id="content">
        {{ content }}
      </div>

      <footer>
        © 2012 Elbii Inc.
      </footer>

    </div>

    <!-- JS -->
    <script src="/js/elbii.js" type="text/javascript"></script>
  </body>
</html>
