<!DOCTYPE html>
<html xmlns='http://www.w3.org/1999/xhtml' xml:lang='en' lang='en-us'>
  <head>
    <meta http-equiv='content-type' content='text/html; charset=utf-8' />
    <title>{{ page.title }}</title>
    <meta name='author' content='Elbii' />
		<meta name='description' content='Faster, More Reliable, More Profitable Web Applications'>
		<meta name='keywords' content='elbii, elbii labs, ruby on rails, node.js, mongodb, backbone.js, javascript, coffeescript, css, web development'>
    <link rel='shortcut icon' href='http://elbii.com/favicon.ico' />

    {% css_asset_tag global %}
    - /_assets/css/bootstrap.min.css
    - /_assets/css/syntax.css
    - /_assets/css/elbii.css
    {% endcss_asset_tag %}
  </head>
  <body>
    <div class='container'>
      <!-- Header -->
      <header>
        <a href='/'><img src='/img/logo.png' alt='Ebii Logo'></a>
        <nav>
          <ul class='list-inline'>
            <li><a href='/services.html'>services</a></li>
            <li><a href='/company.html'>company</a></li>
            <li><a href='/jobs.html'>jobs</a></li>
            <li><a href='/blog.html'>blog</a></li>
          </ul>
        </nav>
        <div class='clear'></div>
      </header>

      <div id='content'>
        {{ content }}
      </div>

      <footer>
        <div class='well'>
          <div class='row'>
            <div class='col-md-6'>
            </div>
            <div class='col-md-2'>
              <h5>Social</h5>
              <ul class='list-unstyled'>
                <li><a href='https://facebook.com/elbiisf'>Facebook</a></li>
                <li><a href='https://twitter.com/elbiisf'>Twitter</a></li>
                <li><a href='https://plus.google.com/elbiisf'>Google+</a></li>
              </ul>
            </div>
            <div class='col-md-2'>
              <h5>Sitemap</h5>
              <ul class='list-unstyled'>
                <li><a href='/'>Home</a></li>
                <li><a href='/services.html'>Services</a></li>
                <li><a href='/company.html'>Company</a></li>
                <li><a href='/jobs.html'>Jobs</a></li>
                <li><a href='/blog.html'>Blog</a></li>
              </ul>
            </div>
            <div class='col-md-2'>
              <h5>Open Source</h5>
              <ul class='list-unstyled'>
                <li><a href='https://github.com/elbii/plunk'>Plunk</a></li>
                <li><a href='https://github.com/elbii/cerebellum'>Cerebellum</a></li>
                <li><a href='https://github.com/elbii/capistranode'>Capistranode</a></li>
                <li><a href='https://github.com/elbii/ruby-sdee'>Ruby SDEE</a></li>
              </ul>
            </div>
          </div>
          <div class='row'>
            <div class='col-md-12 text-center'>© 2013 Elbii LLC</div>
          </div>
        </div>
      </footer>

    </div>

    <!-- JS -->
    {% javascript_asset_tag global %}
    - /_assets/js/elbii.js
    - /_assets/js/analytics.js
    {% endjavascript_asset_tag global %}
  </body>
</html>
